* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.header {
  background-color: #000;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.instagram-icon {
  display: flex;
  align-items: center;
}

.instagram-icon a {
  color: #fff; 
  margin-right: 20px;
  font-size: 24px;
}

.instagram-icon a:hover {
  color: #E4405F; 
}

.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}


