<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.excerpt | strip_html }}">
  {% seo %}
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-484BLCDERH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-484BLCDERH');
  </script>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="logo-container">
        <img src="{{ 'favicon.png' | relative_url }}" alt="B2S Logo" class="logo">
        <h1>B2S Boutique de Software</h1>
      </div>
      
      <div class="social-icons">
        <a href="https://www.instagram.com/b2s.software" target="_blank">
          
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer class="footer">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>
